/* ========== Container css:start ========== */

@media (min-width:375px) {
	.container {
		width: 100%;
		max-width: 100%;
	}
}
@media (min-width:576px) {
	.container {
		width: 100%;
		max-width: 100%;
	}
}
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1230px;
		max-width: 1230px;
	}
}
@media (min-width: 1400px) {
	.container {
		width: 1326px;
		max-width: 1326px;
	}
}

/* ========== Container css:end ========== */

/* ========== Color variable:start ========== */

:root {

	--primary-white: #FFFFFF;
	--primary-black: #000000;
	--primary-light-green: #02A791;
	--primary-dark-green: #24AE65;
	--primary-red: #D02D2E;
	--primary-orange: #F35423;
	--primary-dark-white: #F7EFD9;
	--primary-light-gray: #757575;
	--primary-light-white: #EBEBEB;
	--primary-storke: #EEEEEE;
	--primary-dark-gray: #3B3B3B;
	--primary-hover: #DC4D20;
	--primary-linear-gradient-bg: linear-gradient(316deg, #0B4CAA 0%, #1CB6F7 98.59%);
	--light-contrast-20: rgba(255, 255, 255, 0.20);
}

/* ========== Color variable:end ========== */

/* ========== Default css:start ========== */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
  background: var(--primary-black);
	margin: 0;
	padding: 0;
	font-family: 'Satoshi';
	font-style: normal;
	font-size: 14px;
	color: var(--primary-white);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

textarea {
	resize: none;
}

h1,h2,h3,h4,h5,h6,p,ul,ol { margin: 0 !important; padding: 0 !important; }
ul li { list-style: none !important; }
a { text-decoration: none !important; }

/* ========== Default css:end ========== */


.header { position: fixed; z-index: 1000; left: 0; top: 0; right: 0; width: 100%; background: var(--primary-black); }
.header .header_wrap { transition: all 400ms ease-in-out; }
.main_header { display: flex; justify-content: space-between; align-items: center; padding: 10px 0; }
.main_header .header_logo { width: auto; }
.main_header .header_logo a { display: block; width: 100%; }
.main_header .header_logo a img { max-width: 125px; max-height: 30px; }
.main_header .menu-toggler { width: 35px; height: 35px; float: left; display: none; cursor: pointer; padding: 0px 0px; background: var(--primary-white); border-radius: 50%; }
.main_header .menu-toggler .menu-toggler-icon { width: 100%; height: 2px; float: left; position: relative; top: 0; background: var(--primary-black); border-radius: 4px; max-width: 18px; margin: 0 auto; }
.main_header .menu-toggler .menu-toggler-icon::before, .menu-toggler .menu-toggler-icon::after { content: ""; width: auto; height: 2px; background: var(--primary-black); border-radius: 4px; position: absolute; left: 0px; right: 0px; z-index: 1; transition-delay: .15s, 0s; }
.main_header .menu-toggler .menu-toggler-icon::before { top: -6px; transition-property: top, transform; transition: 0.4s all ease-in-out; }
.main_header .menu-toggler .menu-toggler-icon::after { bottom: -6px; transition-property: bottom, transform; transition: 0.4s all ease-in-out; }
.main_header .menu-toggler.active .menu-toggler-icon { background: none; }
.main_header .menu-toggler.active .menu-toggler-icon::before, .menu-toggler.active .menu-toggler-icon::after { transition-delay: 0s, .2s; }
.main_header .menu-toggler.active .menu-toggler-icon::before { top: 0px; transform: rotate(-45deg); }
.main_header .menu-toggler.active .menu-toggler-icon::after { bottom: 0px; transform: rotate(45deg); }
.main_header .navigation_bar { display: flex; justify-content: space-between; align-items: center; width: calc(50% + 220px); }
.main_header .navigation_bar .nav-bar ul { display: flex; align-items: center; }
.main_header .navigation_bar .nav-bar ul li + li { padding: 0 0 0 32px; }
.main_header .navigation_bar .nav-bar ul li a { color: var(--primary-white); font-weight: 400; font-size: 16px; line-height: normal; transition: all 0.3s ease-in-out; }
.main_header .navigation_bar .nav-bar ul li a:hover { opacity: 0.7; }
.main_header .navigation_bar .header_btn { display: flex; align-items: center; }
.main_header .navigation_bar .header_btn .contact_btn a { color: var(--primary-white); font-size: 16px; font-weight: 500; line-height: normal; padding: 8px 16px; background: var(--primary-orange); border-radius: 45px; display: block; transition: all 0.3s ease-in-out; }
.main_header .navigation_bar .header_btn .contact_btn a:hover { background: var(--primary-hover); }
.main_header .navigation_bar .header_btn .ent_lang { border-radius: 2px; border: 1px solid var(--mipo-stroke-color); padding: 6px; margin-left: 18px; }
.main_header .navigation_bar .header_btn .ent_lang .lang-link { display: flex; color: var(--primary-white); font-size: 16px; font-weight: 400; line-height: normal; align-items: center; }
.main_header .navigation_bar .header_btn .ent_lang .lang-link svg { transition: all 0.3s ease-in-out; }
.main_header .navigation_bar .header_btn .ent_lang.show .lang-link svg { transform: rotate(180deg); }
.main_header .navigation_bar .header_btn .ent_lang .dropdown-menu { left: 0; min-width: 100%; margin-top: 7px; background: var(--primary-white); padding: 0; }
.main_header .navigation_bar .header_btn .ent_lang .dropdown-menu li a { display: flex; color: var(--primary-light-gray); font-size: 14px; font-weight: 500; line-height: normal; padding: 6px 6px 6px 3px; justify-content: center; }
.main_header .navigation_bar .header_btn .ent_lang .dropdown-menu li + li { border-top: 1px solid var(--primary-storke); }